h1 {
	color:black;
	font-weight: bold;
}

h2 {
	color:indianred;
	font-style:italic;
}

body {
	background-color: darkcyan;
	text-align: center;
}

/* I can't figure out how to get this to change color but whatever*/
.fearme {
	color:green;
}

ul {
	display:inline-block;
	text-align:left;
}

h1, h2 {
	text-decoration: underline;
}